.container {
  max-width: 80%;
  margin: 20px auto;
  padding: 4%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1, h2 {
  text-align: center;
  color: #4CAF50;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

button:hover {
  background-color: #45a049;
}

.note {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

.whatsapp-link {
  text-align: center;
  margin-top: 15px;
}

.whatsapp-link a {
  color: #25D366;
  font-weight: bold;
  text-decoration: none;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;    
}
.total{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo styles */
.logo {
    margin: 20px auto;
    max-width: 150px;
}

/* Responsive image styles */
.responsive-image, .pay{
    width: 50%;
    /* max-width: 320px !important; */
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button styles */
a{
    text-decoration: none;
}

.button-56 {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Footer note */
.note {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}